/*hide the loader until clicking the submit button*/

#loader {
    display: none;
}


/*loader styles*/

#loader:before {
    content: "";
    border-radius: 50%;
    border: 3px solid var(--border-color);
    border-top: 3px solid #fff;
    margin: auto;
    animation: spin 1s linear infinite
}


/*loader animation*/

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/*reload page button*/

#reload-btn {
    background-color: var(--secondry-color);
    position: absolute;
    display: none;
    border: none;
    outline: none;
    padding: 2vh 1vw;
    border-radius: 5px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(255, 255, 255, 0.1);
}