@media screen and (min-width: 770px) {
    #loader::before {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 770px) and (min-width: 425px) {
    nav h2 {
        font-size: 1.3em;
    }
    form {
        line-height: 30px;
    }
    form label h3 {
        font-size: 1.2em;
    }
    form label h4 {
        font-size: 0.8em;
    }
    #video-url-div {
        margin-top: 4vh;
        width: 90%;
    }
    #video-url-div input {
        padding: 8px 12px;
        box-shadow: 3px 8px 25px #000
    }
    #video-url-div input:hover {
        box-shadow: 8px 17px 25px #000
    }
    #loader::before {
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 425px) {
    nav h2 {
        font-size: 1.1em;
    }
    form {
        line-height: 25px;
    }
    form label h3 {
        font-size: 1em;
    }
    form label h4 {
        font-size: 0.6em;
    }
    #video-url-div {
        margin-top: 3vh;
        width: 98%;
    }
    #video-url-div input {
        padding: 5px 10px;
        font-size: 10px;
    }
    #loader::before {
        width: 12px;
        height: 12px;
    }
}