@media screen and (min-width: 770px) {
    #loader::before {
        width: 20px;
        height: 20px;
    }
    #back-side {
        bottom: -2.5vh;
    }
    #video-title {
        font-size: 1.1em;
    }
    #video-info {
        line-height: 25px
    }
    #video-info h4 {
        font-size: 0.9em;
    }
    .download-buttons button {
        height: 45%;
        width: 60%;
    }
    #available-formats-container {
        margin: 35vh auto 0;
    }
    #reload-btn {
        font-size: 0.9em;
        bottom: -28vh
    }
}

@media screen and (max-width: 770px) and (min-width: 425px) {
    nav h2 {
        font-size: 1.3em;
    }
    form {
        line-height: 30px;
    }
    form label h3 {
        font-size: 1.2em;
    }
    form label h4 {
        font-size: 0.8em;
    }
    #video-url-btn {
        font-size: 12px
    }
    #flip-container {
        padding-top: 4vh;
        width: 90%;
    }
    #back-side {
        bottom: -2vh;
    }
    #flip-container input {
        padding: 8px 12px;
        box-shadow: 3px 8px 25px #000
    }
    #flip-container input:hover {
        box-shadow: 8px 17px 25px #000
    }
    #loader::before {
        width: 15px;
        height: 15px;
    }
    #error-message {
        bottom: -40px;
        left: 20px;
        font-size: 0.7em;
    }
    #video-info {
        line-height: 20px
    }
    #thumbnail-container img {
        width: 130px;
        object-fit: contain;
    }
    #video-title {
        font-size: 0.9em;
    }
    #video-info h4 {
        font-size: 0.7em;
    }
    .download-buttons button {
        width: 70%;
        height: 50%;
    }
    #available-formats-container {
        margin: 33vh auto 0;
    }
    #available-formats-container div h5,
    .download-buttons button {
        font-size: 0.7em;
    }
    #reload-btn {
        font-size: 0.8em;
        bottom: -26vh;
    }
}

@media screen and (max-width: 425px) {
    nav h2 {
        font-size: 1.1em;
    }
    form {
        line-height: 25px;
    }
    form label h3 {
        font-size: 1em;
    }
    form label h4 {
        font-size: 0.6em;
    }
    #flip-container {
        padding-top: 3vh;
        width: 95%;
    }
    #back-side {
        bottom: -1.5vh;
    }
    #flip-container input {
        padding: 5px 10px;
        font-size: 10px;
    }
    #video-url-btn {
        font-size: 10px
    }
    #loader::before {
        width: 12px;
        height: 12px;
    }
    #error-message {
        bottom: -30px;
        left: 15px;
        font-size: 0.6em;
    }
    #video-info {
        line-height: 15px;
    }
    #video-title {
        font-size: 0.7em;
    }
    #video-info h4 {
        font-size: 0.5em;
    }
    #thumbnail-container img {
        width: 100px;
        object-fit: contain;
    }
    #available-formats-container {
        margin: 30vh auto 0;
    }
    #available-formats-container header {
        font-size: 1em;
    }
    .download-buttons button {
        width: 80%;
        height: 50%;
    }
    #available-formats-container div h5,
    .download-buttons button {
        font-size: 0.6em;
    }
    #reload-btn {
        font-size: 0.6em;
        bottom: -24vh;
    }
}